ion-content {
  .vehicle_div {
    height: 252px;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.16);
    .contain_div {
      position: relative;
    }
    .first_item {
      margin-top: 5px;
      --background: transparent;
    }
    ion-item {
      padding-left: 16px;
      padding-right: 16px;
      --padding-start: 0;
      .info_lbl {
        font-size: 16px;
        font-family: "nunito_sb";
        color: var(--black);
        margin: 0;
      }
      .item_input {
        font-size: 14px;
        color: var(--gray);
        font-family: "nunito_r";
      }
    }
    .add_btn {
      --color: var(--my_theme);
      text-transform: capitalize;
      margin-right: 16px;
      position: absolute;
      right: 0;
      top: 3px;
      height: 20px;
    }
    .segment_div {
      height: 35px;
      width: 100%;
      display: flex;
      background-color: var(--my_theme);
      margin-top: 10px;
      .data_div {
        color: var(--white);
        font-size: 14px;
        font-family: "nunito_sb";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33.33%;
      }

      .select_div {
        background-color: var(--select_clr);
      }
    }
  }
}

item-label-stacked .sc-ion-input-ios-h {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
}
