<ion-content>
  <ion-slides pager>
    <ion-slide>
      <div class="img_div">
        <img src="../../../assets/image_svg/onboarding_one.svg">
        <h3 class="slide_tittle">Choose Your <br>Parcel Related Vehicle</h3>
        <p class="slide_info">Choose your delivery vehicle related your parcel to how large
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img_div">
        <img src="../../../assets/image_svg/onboarding_two.svg">
        <h3 class="slide_tittle">Add Delivery Details</h3>
        <p class="slide_info">Add full delivery details From receive parcel to delivery parcel
        </p>
      </div>
    </ion-slide>
    <ion-slide>

      <div class="img_div">
        <img src="../../../assets/image_svg/onboarding_three.svg">
        <h3 class="slide_tittle">Request to driver</h3>
        <p class="slide_info">Request to driver from pickup parcel and drop to delivery location
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>