ion-content {
  .vehicle_div {
    height: 185px;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.16);
    ion-row {
      padding-top: 25px;
      margin: 0px 16px;
      border-bottom: solid;
      border-bottom-width: 1px;
      border-bottom-color: var(--silver);
      ion-col {
        text-align: center;
        .vehicle {
          font-size: 16px;
          color: var(--black);
          font-family: "nunito_sb";
          margin-bottom: 0;
        }
        .price {
          color: var(--gray);
          font-family: "nunito_sb";
          font-size: 14px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
    .vehicle_row :last-child {
      img {
        margin-top: -11px;
      }
    }
    .payment_row {
      display: flex;
      padding-top: 10px;
      .contain_div {
        width: 25%;
        display: flex;
        span {
          margin-left: 10px;
          font-size: 14px;
          font-family: "nunito_sb";
          color: var(--my_theme);
        }
      }
    }
    .payment_row :last-child {
      justify-content: flex-end;
    }
  }
}
