<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>contact us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_div ion-margin-horizontal">
    <ion-item mode="md" lines="none">
      <ion-input placeholder="Name"></ion-input>
    </ion-item>
    <ion-item mode="md" lines="none">
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-textarea rows="4" cols="20" placeholder="Type your message"></ion-textarea>

  </div>
</ion-content>
<ion-footer>
  <ion-button class="main_btn" expand="full">
    send
  </ion-button>
</ion-footer>