<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_div ion-margin-horizontal">
    <ion-item lines="none" mode="md" (click)="about()">
      <ion-label class="page_lbl">About Us</ion-label>
    </ion-item>
    <ion-item lines="none" mode="md" (click)="policy()">
      <ion-label class="page_lbl">Privacy Policy</ion-label>
    </ion-item>
    <ion-item lines="none" mode="md" (click)="condition()">
      <ion-label class="page_lbl">Term & Condition</ion-label>
    </ion-item>
    <ion-item lines="none" mode="md" (click)="contactUs()">
      <ion-label class="page_lbl">Contact Us</ion-label>
    </ion-item>
    <ion-item lines="none" mode="md" (click)="faqpage()">
      <ion-label class="page_lbl">FAQ</ion-label>
    </ion-item>
  </div>
</ion-content>