ion-content {
  .main_div {
    margin-top: 30px;
    p {
      font-family: "nunito_sb";
      color: var(--my_theme);
      font-size: 16px;
    }
    .dataitem {
      --border-radius: 5px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
      margin-top: 20px;
      margin-bottom: 25px;
      .icon_img {
        margin-right: 15px;
        height: 18px;
        width: 18px;
      }
      ion-input {
        --placeholder-color: var(--lht_gray);
        --color: var(--lht_gray);
        font-size: 16px;
        --placeholder-font-style: "nunito_sb";
        font-family: "nunito_sb";
        --placeholder-opacity: 1;
      }
    }
    ion-button {
      margin-top: 20px;
      height: 46px;
      font-size: 16px;
      text-transform: capitalize;
    }
  }
}
