<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin-horizontal main_div">
    <p class="ion-text-center">
      Enter your email and will send you instruction on how to reset it
    </p>
    <form>
      <ion-item class="dataitem" lines="none">
        <ion-icon src="../../../assets/image/email-icon.svg" class="icon_img">
        </ion-icon>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
    </form>
    <ion-button class="main_btn" (click)="signIn()" expand="full">
      Send
    </ion-button>
  </div>
</ion-content>