ion-content {
  --background: var(--my_theme);
  --color: var(--white);
  .price {
    font-size: 40px;
    font-family: "nunito_sb";
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .amount {
    font-size: 25px;
    font-family: "nunito_sb";
    text-align: center;
    margin: 10px 0px 30px 0px;
  }
  ion-item {
    --border-color: var(--white);
    --background: var(--my_theme);
    --color: var(--white);
    --padding-top: 7px;
    --padding-bottom: 7px;
    --detail-icon-color: var(--white);
    --detail-icon-opacity: 1;
    .info_lbl {
      font-size: 18px;
      font-family: "nunito_sb";
    }
  }
  .paynow_item {
    border-top: solid;
    border-top-color: var(--white);
    border-top-width: 1px;
  }
  .main_btn {
    --background: var(--select_clr);
    text-transform: capitalize;
    height: 45px;
    margin-top: 26px;
  }
}
