ion-content {
  --background: var(--my_theme);
  --color: var(--white);
  .info_label {
    font-size: 18px;
    font-family: "nunito_sb";
    text-align: center;
    margin: 45px 0px;
  }
  ion-item {
    --background: var(--my_theme);
    --border-color: var(--white);
    --color: var(--white);
    .item_lbl {
      font-size: 18px;
      font-family: "nunito_sb";
    }
  }
  .btn_div {
    display: flex;
    margin-top: 36px;

    ion-button {
      width: 33.33%;
      --background: var(--select_clr);
      --color: var(--white);
      height: 45px;
      margin: 0;
      text-transform: capitalize;
      font-size: 18px;
      font-family: "nunito_sb";
    }
  }
}
