<ion-content>
  <div class="main_div">
    <div class="data_div">
      <img src="../../../assets/image/right-iocn.png">
      <h3 class="main_lbl">Booking Requested</h3>
      <p class="detail">Delivery Driver has accepted your request and arriving at your locaion. you can check the status
        by tapping below button</p>
    </div>
    <div class="bottom_div">
      <ion-button class="main_btn cancel"> Cancel</ion-button>
      <ion-button class="main_btn ongoingjob" (click)="Bookedrequested()"> View On Going Job</ion-button>
    </div>
  </div>
</ion-content>