<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_div ion-margin-horizontal">
    <img src="../../../assets/image/no_detail.svg">
    <h3 class="tittle"> {{data?.tittle}}</h3>
    <p class="time">{{data?.date}} {{data?.time}}</p>
    <p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nisi laboriosam corrupti
    </p>
    <p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nisi laboriosam corrupti
    </p>
    <p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nisi laboriosam corrupti
    </p>
    <p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nisi laboriosam corrupti
    </p>
    <p class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus nisi laboriosam corrupti
    </p>
  </div>
</ion-content>